<aside class="main-sidebar" id="main-sidebar">
    <section class="sidebar">
        <ul class="sidebar-menu" data-widget="tree">
                <li><a href="go_homePage"><i class="fa fa-home"></i> <span>HomePage</span></a></li>
                <li id="go_config"><a href="go_config"><i class="fa fa-bookmark"></i> <span>NG List</span></a></li>
                <li id="go_setting" style="display: none" class="active"><a href="go_setting"><i class="fa fa-cog"></i> <span>Config</span></a></li>
                <li id="go_user" style="display: none"><a href="go_user"><i class="fa fa-user"></i> <span>User</span></a></li>
            </ul>
    </section>
</aside>


